In [1]:
import os
import pandas as pd
import librosa
from tqdm import tqdm
import numpy as np

In [2]:
data = pd.read_csv("metadata.csv")

In [3]:
data.head()

     absPath         fileName  label
0  ./data/0/   0_george_0.wav      0
1  ./data/0/   0_george_1.wav      0
2  ./data/0/  0_george_10.wav      0
3  ./data/0/  0_george_11.wav      0
4  ./data/0/  0_george_12.wav      0

# MFCC

Here we will be using Mel-Frequency Cepstral Coefficients(MFCC) from the audio samples. The MFCC summarises the frequency distribution across the window size, so it is possible to analyse both the frequency and time characteristics of the sound. These audio representations will allow us to identify features for classification.

In [4]:
# feature extracting
def extract(location,filename):
    directory=location+filename
    audio, samplerate = librosa.load(directory, res_type='kaiser_fast')
    mfccs_features = librosa.feature.mfcc(y=audio, sr=samplerate, n_mfcc=40)
    mfccs_scaled_features = np.mean(mfccs_features.T,axis=0)
    return mfccs_scaled_features

In [5]:
extracted_features=[]
cls=[]
for index_num,row in tqdm(data.iterrows()):
    classLabel=row["label"]
    filename=row["fileName"]
    location=row["absPath"]
    data=extract(location,filename)
    extracted_features.append(data.tolist())
    cls.append(classLabel)

3000it [00:21, 140.12it/s]

In [6]:
print(extracted_features[0:4])
print(cls[0:4])

[[-322.6928405761719, 170.57394409179688, -81.61507415771484, 39.977394104003906, 56.14421844482422, -53.36600875854492, -21.929218292236328, -9.971104621887207, -51.333866119384766, -19.099300384521484, -16.770801544189453, -42.179866790771484, -4.16014289855957, 1.2318038940429688, -28.16584587097168, -8.035327911376953, 1.5534110069274902, -13.970534324645996, -6.087517738342285, -5.628361225128174, -11.358267784118652, -4.15268087387085, -11.690252304077148, -13.238113403320312, 1.6592012643814087, -5.369372367858887, -13.284308433532715, -2.7260358333587646, -3.5248332023620605, -7.349976062774658, -2.609839916229248, -4.4690680503845215, -5.3079938888549805, -5.056337833404541, -10.3841552734375, -8.060832977294922, -6.287370681762695, -11.244913101196289, -4.00295877456665, 6.545888900756836], [-384.4394836425781, 171.77276611328125, -53.616756439208984, 13.613435745239258, 32.037879943847656, -42.61963653564453, -22.90079116821289, -19.658456802368164, -49.85679626464844, -17.25733757019043, -13.23879337310791, -38.8012580871582, -9.494466781616211, 0.018192758783698082, -25.24292755126953, -13.212648391723633, -3.9530134201049805, -16.728256225585938, -10.976357460021973, -8.236104011535645, -14.196409225463867, -8.058004379272461, -8.550179481506348, -11.701008796691895, -5.022592544555664, -6.90610933303833, -10.083856582641602, -4.980751991271973, -6.090341567993164, -6.329402446746826, -1.5768555402755737, -3.6858999729156494, -5.291866779327393, -4.213569164276123, -6.7593607902526855, -5.210020065307617, -2.8085198402404785, -4.839067459106445, -1.6420881748199463, 3.400240421295166], [-428.920166015625, 132.75344848632812, -50.340301513671875, 9.906248092651367, 31.597782135009766, -30.21632194519043, -21.51948356628418, -13.991063117980957, -29.695554733276367, -12.308497428894043, -18.215059280395508, -33.06209182739258, -8.123932838439941, -6.175854682922363, -22.77794647216797, -6.33603048324585, 0.7727250456809998, -10.327905654907227, -6.243247032165527, -6.697340488433838, -10.890661239624023, -4.446938514709473, -8.400375366210938, -13.519571304321289, -6.570516586303711, -7.942864418029785, -9.151926040649414, -0.6416082382202148, -1.7184027433395386, -4.0841145515441895, 2.065418243408203, -0.6381713151931763, -7.238853931427002, -5.360060214996338, -4.777853488922119, -6.641615867614746, -5.608800888061523, -5.2284698486328125, -4.428666591644287, -1.6008776426315308], [-395.29693603515625, 172.42221069335938, -75.08815002441406, 15.6610746383667, 39.008262634277344, -47.28357696533203, -20.110836029052734, -10.418760299682617, -42.87417984008789, -13.592135429382324, -16.028926849365234, -40.2512321472168, -8.034624099731445, -4.885571479797363, -26.69428062438965, -4.97286319732666, 1.099487543106079, -14.561147689819336, -7.346221923828125, -8.619084358215332, -15.2483549118042, -7.968235969543457, -12.636018753051758, -14.925732612609863, -4.207065105438232, -7.2162909507751465, -9.564860343933105, -1.3847943544387817, -2.98062801361084, -4.907416820526123, -2.303539752960205, -6.197558879852295, -7.695436000823975, -7.934201717376709, -12.299772262573242, -10.625930786132812, -8.933253288269043, -11.993082046508789, -6.833029270172119, 3.711723804473877]]
[0, 0, 0, 0]

In [7]:
### converting extracted_features to Pandas dataframe
data=pd.DataFrame(extracted_features)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-322.692841,170.573944,-81.615074,39.977394,56.144218,-53.366009,-21.929218,-9.971105,-51.333866,-19.099300,...,-2.609840,-4.469068,-5.307994,-5.056338,-10.384155,-8.060833,-6.287371,-11.244913,-4.002959,6.545889
1,-384.439484,171.772766,-53.616756,13.613436,32.037880,-42.619637,-22.900791,-19.658457,-49.856796,-17.257338,...,-1.576856,-3.685900,-5.291867,-4.213569,-6.759361,-5.210020,-2.808520,-4.839067,-1.642088,3.400240
2,-428.920166,132.753448,-50.340302,9.906248,31.597782,-30.216322,-21.519484,-13.991063,-29.695555,-12.308497,...,2.065418,-0.638171,-7.238854,-5.360060,-4.777853,-6.641616,-5.608801,-5.228470,-4.428667,-1.600878
3,-395.296936,172.422211,-75.088150,15.661075,39.008263,-47.283577,-20.110836,-10.418760,-42.874180,-13.592135,...,-2.303540,-6.197559,-7.695436,-7.934202,-12.299772,-10.625931,-8.933253,-11.993082,-6.833029,3.711724
4,-394.499207,175.457748,-73.035172,13.853026,42.227962,-42.729275,-21.902811,-11.733918,-41.199963,-13.110891,...,-0.254939,-3.281081,-8.792319,-6.797051,-8.639256,-10.937980,-8.590206,-6.117639,-0.421940,5.614871

In [8]:
data['label'] = pd.DataFrame(cls)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,label
0,-322.692841,170.573944,-81.615074,39.977394,56.144218,-53.366009,-21.929218,-9.971105,-51.333866,-19.099300,...,-4.469068,-5.307994,-5.056338,-10.384155,-8.060833,-6.287371,-11.244913,-4.002959,6.545889,0
1,-384.439484,171.772766,-53.616756,13.613436,32.037880,-42.619637,-22.900791,-19.658457,-49.856796,-17.257338,...,-3.685900,-5.291867,-4.213569,-6.759361,-5.210020,-2.808520,-4.839067,-1.642088,3.400240,0
2,-428.920166,132.753448,-50.340302,9.906248,31.597782,-30.216322,-21.519484,-13.991063,-29.695555,-12.308497,...,-0.638171,-7.238854,-5.360060,-4.777853,-6.641616,-5.608801,-5.228470,-4.428667,-1.600878,0
3,-395.296936,172.422211,-75.088150,15.661075,39.008263,-47.283577,-20.110836,-10.418760,-42.874180,-13.592135,...,-6.197559,-7.695436,-7.934202,-12.299772,-10.625931,-8.933253,-11.993082,-6.833029,3.711724,0
4,-394.499207,175.457748,-73.035172,13.853026,42.227962,-42.729275,-21.902811,-11.733918,-41.199963,-13.110891,...,-3.281081,-8.792319,-6.797051,-8.639256,-10.937980,-8.590206,-6.117639,-0.421940,5.614871,0

In [9]:
data.to_csv("processed.csv",index=False)